<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Votação CIPA - Login</title>
    <link rel="stylesheet" href="../../static/home/style.css">
</head>
<body>
    <div class="container">
        <h2>Sistema de Votação CIPA</h2>
        <form id="loginForm" action="/login" method="post">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite o seu número de registro" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <div class="checkbox">
                <input type="checkbox" id="lembrar" name="lembrar">
                <label for="lembrar">Deseja manter-se autenticado?</label>
            </div>

            <button type="submit" class="button">Entrar</button>
        </form>

        <button onclick="irParaCadastro()" class="button" style="background-color: #007bff; margin-top: 10px;">CADASTRAR USUÁRIO</button>

        <p class="info-text">
            Para usuários cadastrados novos, favor consultar o setor de suporte para obter as credenciais de acesso.
        </p>
    </div>

    <script src="../../static/home/script.js"></script>
</body>
</html>
